@import "../../styles/colorscheme.scss";

.alert {
    margin-top: -10px;
    margin-bottom: -15px !important;
    margin-left: -5px;
    background-color: transparent !important;
    border: none !important;

    .link {
        margin-left: 5px;
        text-decoration: none;
        color: $orange !important;
    }
}

.login {
    margin-top: 20vh;
}