@import "../../styles/colorscheme.scss";

$container-margin: 100px;
.formContainer {
    margin-top: $container-margin;
    margin-bottom: $container-margin;
}

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
}

$border-distance: 0.8rem;
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-bottom: 2px solid $light-grey;
    padding-bottom: $border-distance;
    margin-bottom: $border-distance;
}

.button {
    width: 150px;
}

.alert {
    margin-top: -10px;
    margin-bottom: -15px !important;
    margin-left: -5px;
    background-color: transparent !important;
    border: none !important;

    .link {
        margin-left: 5px;
        text-decoration: none;
        color: $orange !important;
    }
}

.login {
    margin-top: 20vh;
}