@import "../../../styles/colorscheme";

$background-color: $white;
$border: 1px solid $light-grey;
$border-radius: 20px;

.tabDisplay {
    display: flex;
    width: 100%;
    * {
        padding: 0 !important;
    }

    margin-bottom: 20px;

    .tabArrow {
        width: 40vw;
        height: 100%;

        font-size: 1.5rem;
        font-weight: 500;

        border: 2px solid $light-grey;
        border-radius: 20px;

        margin: auto;
        text-align: center;

        &:hover {
            background-color: $light-grey;
            cursor: pointer;
        }
    }

    .tabName {
        font-size: 1.5rem;
        text-align: center;

        background-color: $background-color;
        width: 100%;
    }
}

.tab {
    width: 100%;
    height: 100%;
    padding: 15px;

    border: $border;
    border-radius: $border-radius;

    @media screen and (max-width: 550px) {
        padding: 10px 5px 10px 5px;
    }
}

.textBox {
    background-color: $white;
    width: 80%;
    margin: 100px auto 0 auto !important;
    border-radius: 20px;
    padding: 3rem;

    @media screen and (min-height: 600px) {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 620px) {
        padding: 20px !important;
        min-width: 100%;
    }
}

.chatBox {
    height: auto;
    height: 32vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;

    ul {
        width: 100%;
        margin-top: auto;
        list-style: none;
        padding-left: 0;
    }
}

@keyframes onSensorDisplayHover {
    from {
        background-color: white;
    }
    to {
        background-color: $light-grey;
    }
}

.sensorDisplay {
    border: 2px solid $grey;
    border-radius: 15px;
    padding: 1rem;

    box-shadow: 0px 1px 5px 0px $grey;

    margin-top: 15px;

    &:hover {
        animation: onSensorDisplayHover 0.3s;
        background-color: $light-grey;
        cursor: pointer;
        user-select: none;

        transform: translateY(-5px);
        box-shadow: 0px 3px 8px 2px $grey;
    }
}

.createButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2rem;

    .buttonText {
        position: relative;
        bottom: 50%;
    }
}

.rightMessages {
    margin-left: auto;
    margin-right: 15px;

    border: 2px solid $green !important;

    @media screen and (max-width: 550px) {
        margin-right: 5px;
    }
}

.messageBox {
    border: 2px solid $orange;
    border-radius: 18px;

    padding: 2px 10px 2px 10px;
    margin-top: 15px;

    width: fit-content;
    max-width: 60%;

    @media screen and (max-width: 700px) {
        max-width: 80%;
    }

    .messageHeader {
        display: flex;

        // @media screen and (max-width: 700px) {

        //     display: block;
        // }

        .sender {
            font-size: 1.25rem;
            font-weight: 500;
            margin-right: 10px;
            margin-bottom: 0;

            @media screen and (max-width: 550px) {
                font-size: 1rem;
            }
        }

        .date {
            margin-top: 4px;
            margin-bottom: 0;
        }
    }

    .message {
        margin-top: 10px;
        margin-bottom: 5px;
        word-wrap: break-word;
    }
}

.button {
    width: 150px;
    font-weight: 500;

    margin-top: 25px;

    @media screen and (max-width: 650px) {
        font-size: 1rem;
        width: 120px;
    }

    @media screen and (max-width: 350px) {
        width: 90px;
    }
}

.info {
    img {
        border: 3px solid $yellow;
        border-radius: 10px;

        height: 130px;
        width: auto;
    }
}

.user {
    max-height: 32vh;
}