@import "../../../styles/colorscheme";

.profile {
    padding: 0;

    img {
        border: 3px solid $yellow;
        border-radius: 10px;

        height: 200px;
        width: auto;

        @media screen and (max-width: 1000px) {
            height: 150px;
        }

        @media screen and (max-width: 450px) {
            height: 100px;
        }
    }

    .text {
        margin: 10px 0 0 15px;
        visibility: visible;

        justify-content: center;

        @media screen and (max-width: 450px) {
            margin: 10px 0 0 0;
        }

        .name {
            @media screen and (max-width: 450px) {
                margin-top: 23px;
                margin-bottom: 50px;
            }
        }

        .elements {
            @media screen and (max-width: 450px) {
                margin-left: -110px;
            }
        }

        .button {
            margin-top: 10px;
            font-weight: 500;
            width: 120px;

            font-size: 1rem;
        }
    }
}

.buttonTab {
    background-color: transparent;
    padding: 0px;
    border: none;

    width: 150px;

    font-size: 1.25rem;

    margin: auto;
    margin-bottom: 5px;

    position: relative;
    bottom: -2px;

    text-align: center;

    @media screen and (max-width: 1400px) {
        width: 125px;
    }

    @media screen and (max-width: 1000px) {
        width: 110px;
    }

    @media screen and (max-width: 950px) {
        width: 70px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 650px) {
        width: 50px;
    }

    @media screen and (max-width: 450px) {
        width: 30px;
    }
}

.yellowLine {
    position: relative;
    color: black;
    border-bottom: 3px solid $yellow;
}

.line {
    width: 95%;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.tabIcon {
    height: auto;
    width: 35px;
    margin: 0 5px 2px 15%;

    @media screen and (max-width: 1400px) {
        width: 30px;
    }

    @media screen and (max-width: 1000px) {
        width: 25px;
    }

    @media screen and (max-width: 950px) {
        width: 35px;
        margin: auto;
    }

    @media screen and (max-width: 650px) {
        width: 30px;
        margin: auto;
    }

    @media screen and (max-width: 450px) {
        width: 25px;
    }
}
