@import "../../../styles/colorscheme";

.profile {
    padding: 0;

    img {
        border: 3px solid $yellow;
        border-radius: 10px;

        height: 200px;
        width: auto;

        @media screen and (max-width: 1000px) {
            height: 150px;
        }

        @media screen and (max-width: 450px) {
            height: 100px;
        }
    }

    .text {
        margin: 10px 0 0 15px;
        visibility: visible;

        justify-content: center;

        @media screen and (max-width: 450px) {
            margin: 10px 0 0 0;
        }

        .name {
            @media screen and (max-width: 450px) {
                margin-top: 23px;
                margin-bottom: 50px;
            }
        }

        .elements {
            @media screen and (max-width: 450px) {
                margin-left: -110px;
            }
        }
        
        .button {
            margin-top: 10px;
            font-weight: 500;
            width: 120px;

            font-size: 1rem;
        }
    }
}

.buttonTab {
    background-color: transparent;
    padding: 0px;
    border: none;

    width: 125px;

    font-size: 1.25rem;

    margin: auto;

    position: relative;
    bottom: -2px;

    @media screen and (max-width: 650px) {
        font-size: 1rem;
        width: 100px;
    }
}

.yellowLine {
    position: relative;
    color: black;
    border-bottom: 3px solid $yellow;
}

.line {
    width: 95%;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}
