@import "./colorscheme.scss";

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$container-margin: 100px;
.form-container {
  margin-top: $container-margin;
  margin-bottom: $container-margin;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

$border-distance: 0.8rem;
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-bottom: 2px solid $light-grey;
  padding-bottom: $border-distance;
  margin-bottom: $border-distance;
}

.mt-100 {
  margin-top: 100px;
}

.h-80 {
  height: 80vh;
}
