@import "src/styles/colorscheme.scss";

.container {
    width: 275px !important;
    height: 425px !important;

    margin: 0 auto 30px auto !important;

    img {
        border-radius: 20px;

        width: 250px !important;
        height: 333px !important;

        border: 4px solid $yellow;
    }

    .name {
        margin-top: -40px;
    }
}
