@import "../../../../styles/colorscheme";

.chatBox {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;

  ul {
    width: 100%;
    margin-top: auto;
    list-style: none;
    padding-left: 0;
  }
}

.messageBox {
  border: 2px solid $orange;
  border-radius: 18px;

  padding: 2px 10px 2px 10px;
  margin-top: 15px;

  width: fit-content;
  max-width: 60%;

  @media screen and (max-width: 700px) {
    max-width: 80%;
  }

  .messageHeader {
    display: flex;

    // @media screen and (max-width: 700px) {

    //     display: block;
    // }

    .sender {
      font-size: 1.25rem;
      font-weight: 500;
      margin-right: 10px;
      margin-bottom: 0;

      @media screen and (max-width: 550px) {
        font-size: 1rem;
      }
    }

    .date {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }

  .message {
    margin-top: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }
}

.rightMessages {
  margin-left: auto;
  margin-right: 15px;

  border: 2px solid $green !important;

  @media screen and (max-width: 550px) {
    margin-right: 5px;
  }
}

