@import "../../styles/colorscheme.scss";

.toggler {
    display: flex;
    flex-direction: column;
    background-color: Transparent;
    outline: none;
    border: none;
}

.togglerLine {
    display: block;
    margin: 4px;
    height: 5px;
    width: 40px;
    background: $grey;
    border-radius: 9px;
}

.link {
    display: flex;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    text-decoration: none;
    width: 100%;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.icon {
    img {
        width: 35px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}

$line-margin: 10px;
.line {
    background-color: $yellow;
    padding: 2px;
    border-radius: 2px;

    margin-top: $line-margin;
    margin-bottom: $line-margin;
}