@import "../../styles/colorscheme.scss";

$collapse-width: 20rem;
@keyframes collapseAppear {
    from { transform: translateX(100%); } 
    to { transform: translate(0); }
}

.collapse {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    // display
    display: flex;
    flex-direction: row;

    // design
    height: 100vh;
    width: $collapse-width;
    background-color: $light-grey;
    a { 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: 1.5rem;
        font-weight: bold;
        color: black; 
        
        &:focus {
            color: black;
        }
    }

    // animation
    animation: collapseAppear 0.4s;
}

$behind-alpha: 60%;
@keyframes behindAppear {
    from { background-color: rgba(0, 0, 0, 0%); }
    to { background-color: rgba(0, 0, 0, $behind-alpha); }
}

.behind {
    // positioning
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    // filtering
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, $behind-alpha);

    // animating
    animation: behindAppear 0.5s;
}

.toggler {
    display: flex;
    flex-direction: column;
    background-color: Transparent;
    outline: none;
    border: none;
}

.togglerLine {
    display: block;
    margin: 4px;
    height: 5px;
    width: 40px;
    margin-left: auto;
    background: $light-grey;
    border-radius: 9px;
}