@import "../../styles/colorscheme.scss";
@import "collapse.module.scss";

.navbar {
    background-color: $green;
}

.brand {
    font-size: 1.75rem !important;
    font-weight: 500 !important;

    @media screen and (max-width: 1200px) {
        font-size: 1.6rem !important;
    }

    @media screen and (max-width: 650px) {
        font-size: 1.5rem !important;
    }
}

.menu {
    flex-direction: column !important;
    position: relative;
    text-align: right;
    width: 90%;
    margin: 20px auto 0 auto;
}

.link {
    display: flex;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    width: 100%;

    @media screen and (max-width: 300px) {
        font-size: 1.25rem !important;
    }

    &:hover {
        cursor: pointer;
        color: $grey;
    }
}

.icon {
    img {
        width: 35px;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin-top: 10px;

        -webkit-user-drag: none;

        @media screen and (max-width: 300px) {
            width: 30px;
        }
    }
}

$line-margin: 10px;
.line {
    background-color: $yellow;
    padding: 2px;
    border-radius: 2px;

    margin-top: $line-margin;
    margin-bottom: $line-margin;
}

@keyframes onButtonHover {
    from {
        background-color: $orange;
    }
    to {
        background-color: $dark-orange;
    }
}

.button {
    font-size: 1.25rem;
    text-align: center;
    width: 120px;
    font-weight: 500;

    background-color: $orange;

    &:hover:enabled {
        animation: onButtonHover 0.5s;
        background-color: $dark-orange;
        color: black;
    }

    &:disabled {
        background-color: $orange;
    }
}

$profile-button-hover-bg: #e2e2e2;
@keyframes profileButtonHover {
    from {
        background-color: $light-grey;
    }
    to {
        background-color: $profile-button-hover-bg;
    }
}

.profileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $collapse-width;

    background-color: $light-grey;
    border: 0;

    &:hover {
        animation: profileButtonHover 0.15s;
        background-color: $profile-button-hover-bg;
    }
}

.profile {
    display: flex;
    align-items: center;

    user-select: none;
    -webkit-user-drag: none;
}

.profilePicture {
    outline: 3px solid $orange;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50px;
}
