@import "src/styles/colorscheme.scss";

.feedback {
    margin: 20vh 0 0 0;

    .layout {
        height: 500px;
        width: 1000px;

        position: relative;

        @media screen and (max-width: 1000px) {
            height: 450px;
            width: 800px;
        }

        @media screen and (max-width: 650px) {
            height: 400px;
            width: 400px;
        }

        @media screen and (max-width: 500px) {
            height: 400px;
            width: 300px;
        }
    }
}

.form {
    font-size: 2rem;

    // @media screen and (max-width: 500px) {
    //     position: relative;
    //     width: 500px;
    //     right: 25px;
    // }
}

@keyframes onAboutButtonHover {
    from { background-color: $yellow; }
    to { background-color: $orange;} 
}

.button {
    background-color: $yellow;
    border: none;
    color: black;
    border-radius: 15px;

    width: 110px;
    height: 45px;

    position: absolute;
    bottom: 30px;
    right: 50px;


    &:hover {
        animation: onAboutButtonHover 0.5s;
        background-color: $orange; 
        color: black;
    }

    font-weight: 500;
    font-size: 1.5rem;

    @media screen and (max-width: 650px) {
        width: 100px;
        height: 40px;
        font-size: 1.35rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 1.25rem;
    }
}