@import "src/styles/colorscheme.scss";

$brightnes: 50%;
$saturation: 60%;

.carousel-container {
    position: relative;

    .carousel {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        // refering to the arrows
        a {
            -webkit-user-drag: none;
            top: 80%;
            z-index: 1;
        }

        .carousel-indicators [data-bs-target] {
            color: $grey;

            border: 1px solid transparent;
            border-radius: 10px;

            width: 12px;
            height: 12px;
            margin: 0 0 6vh 20px;

            @media screen and (max-width: 800px) {
                margin-left: 15px;
                width: 10px;
                height: 10px;
            }

            @media screen and (max-width: 660px) {
                margin-bottom: 1vh;
                margin-left: 10px;
                width: 8px;
                height: 8px;
            }
        }

        .carousel-image {
            object-fit: cover;
            filter: brightness($brightnes) saturate($saturation);

            width: 100vw;
            height: 40vh;
            @media screen and (min-height: 600px) { height: 80vh; }
            @media screen and (max-width: 660px) { height: 40vh; }
        }
    }

    .carousel-text {
        // positioning
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // disable selection
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        // handling visuals and responsivness
        color: $grey;
        h1 { font-size: 6rem; }
        h3 { font-size: 2rem; }

        @media screen and (max-width: 650px) {
            h1 { font-size: 4rem; }
            h3 { font-size: 1.75rem; }
        }

        @media screen and (max-width: 450px) {
            h1 { font-size: 3rem; }
            h3 { font-size: 1.65rem; }
        }

        @media only screen and (max-width: 300px), (max-height: 650px) {
            h1 { font-size: 2.5rem; }
            h3 { font-size: 1.5rem; }
        }
    }
}
