@import "../../styles/colorscheme.scss";

$farm-display-hover-bg-color: $light-grey;
@keyframes onFarmDisplayHover {
    from { background-color: white }
    to { background-color: $light-grey; }
}

.farmContainer {
    .farmDisplay {
        border: 2px solid $grey;
        border-radius: 15px;

        &:hover {
            animation: onFarmDisplayHover 0.3s;
            background-color: $light-grey;
            text-decoration: underline;
            font-weight: bold;
            cursor: pointer;
            user-select: none;
        }
    }
}

.placeholder {
    &:hover {
        cursor: wait !important;
    }
}
