@import "src/styles/colorscheme.scss";

body {
    background: url(./styles/pattern.png);
    margin: 0;
}

.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 69;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 25px;
    }
}

.spinner {
    --bs-spinner-width: 60px !important;
    --bs-spinner-height: 60px !important;
    --bs-spinner-border-width: 7.5px !important;
}
