.image {
    border: 3px solid #F2BF5E;
    border-radius: 50%;
    padding: 24px;

    img {
        width: 100px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    @media screen and (min-width: 1000px) {
        padding: 36px;
        img {
            width: 150px;
        } 
    }
}