@import "src/styles/colorscheme.scss";

.about {
    h2 { 
      text-align: center; 
      font-size: 3rem;
  
      @media screen and (max-width: 650px) {
        font-size: 2.5rem;
      }
  
      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
  
    .about-text {  
      font-size: 1.75rem;
    
      @media screen and (max-width: 650px) {
        font-size: 1.5rem;
      }
  
      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
      }
    }
  
    .about-button {
      background-color: $yellow;
      border: none;
      color: black;
      border-radius: 15px;
      font-weight: 500;
      font-size: 1.75rem;
  
      @media screen and (max-width: 650px) {
        font-size: 1.5rem;
      }
  
      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
      }
    }
  }