@import "../../styles/colorscheme.scss";

.input {
    position: relative;
    width: 100%;
}

$country-list-border-radius: 25px;
.list {
    position: absolute;
    width: 100%;
    z-index: 100;

    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;

    background-color: $white;
    border-bottom-left-radius: $country-list-border-radius;
    border-bottom-right-radius: $country-list-border-radius;
    list-style: none;
}

.button {
    width: 100%;
    text-align: left;
    padding-left: 20px;

    border: 0;
    background-color: #fbfbfb;

    &:hover {
        background-color: $light-grey;
    }
}

.label {
    font-size: 1.25rem;
    .content {
        font-size: 1.25rem;
        height: 75px !important;
    }
}

.imageInput {
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 100%;

    @media screen and (max-width: 500px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width: 290px) {
        font-size: 0.8rem;
    }
}

.imageInput::file-selector-button {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: $yellow;
    border: 5px solid $white;
}
